@page
@model listaZakupow.Pages.Produkty.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Produkt</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produkt.Opis)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produkt.Opis)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produkt.Rodzaj)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produkt.Rodzaj)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produkt.Data)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produkt.Data)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produkt.Zrobione)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produkt.Zrobione)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Produkt?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
